{% extends 'base.html' %}

{% block title %}
    <title>WIKI CEM | FORMATION</title>
{% endblock %}

{% block content %}
<h3>
    <center>
        <h1>Formation</h1>
        <br>
        <h2>L'équipe Formation vous souhaite la bienvenue sur la page</h2>
        <h2>Maintien en Compétence du WIKI</h2>
        <i>Benjamain Dubois, Théo Fénéon, Karine Pollak</i>
    </center>
    <br>
    <br>

    <table border="1" class = "linear-gradient">
                <thead>
                    <tr>
                        <th border = 2px, colspan="2"><center><h2>Actualité</h2></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><center>
                        Le passage saisonnier Hiver 2021-2020 est sorti, il permet d’appréhender les contraintes et parades de notre zone d’exploitation : Passage_saisonnier_Hiver_2021-2020
                        </center></td>
                    </tr>

                    <tr>
                        <td><center>
                        D’octobre 2021 à avril 2022, participez aux modules de formation locaux avec nos collègues en formation initial (voir ci-dessous partie Formation Locale)
                        </center></td>
                    </tr>

                    <tr>
                        <td><center>
                        Chaque salarié est acteur de son maintien en compétences, est attentif et met en commun les besoins et ressources du Centre Exploitation
                        </center></td>
                    </tr>
                </tbody>
            </table>
                <br><br>


            <table border="0" class = "linear-gradient">
                <thead>
                    <tr>
                        <th border = 2px, colspan="2"><center><h2>Participez au maintien compétence du Centre Exploitation</h2></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><center><h4>C’est ici que seront publier les informations liées au maitien en compétence du CEM.</h4></center></td>
                    </tr>
                </tbody>
            </table>
                <br><br>

            <table border="0" class = "linear-gradient">
                <thead>
                    <tr>
                        <th border = 2px, colspan="2"><center><h2>Fonctionnement du maintien en compétences</h2></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <center>
                                <h4>Le maintien en compétences se base sur les cursus de métier Exploitation : - Propulse (rte-france.com)
                        Chaque salarié est acteur de son maintien en compétences, est attentif et met en commun les besoins et ressources du Centre Exploitation.
                                </h4>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <h4>Ressources libres intéressantes pour le métier Exploitation : K:\CEM\04 - PERFORMANCE\02 - FORMATION\02 - FORMATION - AGENTS CEM\4 - Maintien en compétences
                                </h4>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
                <br><br>

            <table border="1" class = "linear-gradient">
                <thead>
                    <tr>
                        <th border = 2px, colspan="4"><center><h2>Thèmes</h2></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <center><td>THEMES</td></center>
                        <td>MAITRISE DES RISQUES</td>
                        <td>BT</td>
                        <td>PLANIFICATION</td>
                    </tr>
                    <tr>
                        <center><td>MODULE DE FORMATION</td></center>
                        <td>Lien...</td>
                        <td>Lien...</td>
                        <td>Lien...</td>
                    </tr>
                    <tr>
                        <center><td>QUIZZ / EXERCICES</td></center>
                        <td>Lien...</td>
                        <td>Lien...</td>
                        <td>Lien...</td>
                    </tr>
                    <tr>
                        <center><td>OUTILS</td></center>
                        <td>Lien...</td>
                        <td>Lien...</td>
                        <td>Lien...</td>
                    </tr>
                    <tr>
                        <center><td>DIVERS</td></center>
                        <td>Lien...</td>
                        <td>Lien...</td>
                        <td>Lien...</td>
                    </tr>
                </tbody>
            </table>
                <br><br>

    <center>
        <a href="">
                <button class="btn btn-primary" type="submit">DÉCLARER UNE IDÉE SUR LES COMPÉTENCES / UN BESOIN DE FORMATION</button>
        </a>

        <br>
        <br>

        <p>Nombre de visites total : 96</p>
    </center>

    <br>

</h3>
{% endblock %}