<center>
    <nav class="navbar navbar-expand-lg" id="psNav">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    POSTES
                </button>
                <div class="collapse navbar-collapse" id="psNav2">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='a' %}">A</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='b' %}">B</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='c' %}">C</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='d' %}">D</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='e' %}">E</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='f' %}">F</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='g' %}">G</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='h' %}">H</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='i' %}">I</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='j' %}">J</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='k' %}">K</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='l' %}">L</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='m' %}">M</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='n' %}">N</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='o' %}">O</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='p' %}">P</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='q' %}">Q</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='r' %}">R</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='s' %}">S</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='t' %}">T</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='u' %}">U</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='v' %}">V</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='w' %}">W</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='x' %}">X</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='y' %}">Y</a></li>
                        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'poste:PosteRT' lettreRechercher='z' %}">Z</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</center>