{% extends 'base.html' %}

{% block title %}
    <title>WIKI CEM | ACCEUIL</title>
{% endblock %}

{% block content %}
<h3>
    <center>
        <h1>WIKI CEM</h1>
        <br>
        <h2>Bienvenue sur le nouveau WIKI du Centre Exploitation Marseille</h2>
    </center>

    <br><br>
            <center>
            <table border="0" class = "linear-gradient">
                <thead>
                    <tr>
                        <th border = 2px, colspan="2"><center><h2>Information</h2></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><center><h4>WIKI CEM permet le stockage de la connaissance de l’Exploitation à Marseille.
                            Il ne remplace pas la documentation opérationnelle mais la complète !</h4></center></td>
                    </tr>
                </tbody>
            </table>
                <br>
                <table border="0" class = "linear-gradient">
                <thead>
                    <tr>
                        <th border = 2px, colspan="2"><center><h2>WE NEED YOU</h2></center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><center><h4>La mise à jour du WIKI CEM est l’affaire de tous.
                            La pertinence de ce WIKI dépend du dynamisme que vous allez lui offrir.
                            N’hésitez donc surtout pas à venir modifier les pages avec les connaissances les plus à jour possible. </h4></center></td>
                    </tr>
                </tbody>
            </table>
                <br><br>
                </center>

</h3>
{% endblock %}